
*{
    margin: 0;
    padding: 0;
   
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
    
  
}
  
header{ 
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./randomimg8.jpeg);
    height: 100vh;    /*viewport height*/
    background-size: cover;                    /*This contains all the information about the nav bar*/
    background-position: center;



}

header ul{
    list-style: none;
    float:right;              /*This contains all the information about the nav bar*/
    
}

header ul li{ 
    display: inline-block;  /*This contains all the information about the nav bar*/
    position: relative;
    margin-top: 25px;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;           /*This contains all the information about the nav bar*/
    border-radius: 12px;
    transition: 0.6s ease;
    display: block;
    
}

header ul li a:hover{
    background-color: #fff;                 /*This contains all the information about the nav bar*/
    color: #000;
}
header ul li:hover ul.dropdown{
    display: block;

}
header ul li ul.dropdown li{
    display: block;
    margin-top: 0;

}
header ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 2;
    display: none;

}
  
  .logo img{
      float: left;
      width: 200px;                        /*This contains all the information about the nav bar an image*/
      margin-top: -60px;
      
      
  }
  
  .title{
      position: absolute;
      top: 70%;                                                  /*This contains all the information about the nav bar*/
      left:50%;
      transform: translate(-50%,-50%);
      color: #fff;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      

  }
      .turtlecattitle{
        position: absolute;
        top: 75%;
        left: 45%;
        color: #fff;
        font-size: 19px;

      }
    
    h3{
        font-size: 30px;
        text-align: center;
        text-decoration:underline;
    
    }
    .bgcolor{
      background-color: #c5dbfa;
    }
    .sec{
      padding: 10px 5%;
      position: absolute;
      top: 175%;
      left: 4%;
    }
    
    .products {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap:  40px;
    }
    
    
    .products .card{
      width: 280px;
      background: #f5f5f5;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 20px;
    }
    
    .products .card img{
      height: 250px;
      width: 100%;
    }
    
    .products .card .desc{
      padding: 5px 20px;
      opacity: 0.8;
    }
    
    .products .card .title{
      font-weight: 900;
      font-size: 20px;
      color: #424144;
      padding: 0 20px;
    }
    
    .products .card .box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }
    
    .products .card .box .price{
      color: #f63e4e;
      font-size: 20px;
      font-weight: bold; 
    }
    
    .products .card .box .btn{
      font-size: 15px;
      color: #f63e4e;
      padding: 10px 18px;
      font-weight: 900;
      border: 1px solid #f63e4e;
      border-radius: 5%;
      text-decoration: none;
    }
    
    .products .card .box .btn:hover{
      cursor: pointer;
      background-color: #f63e4e;
      color: whitesmoke;
    }
  .intro{ 
    text-align: center;
  font-size: 55px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #030869;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #4474de,
               1px 2px 0px #4474de,
               1px 3px 0px #4474de,
               1px 4px 0px #4474de,
               1px 5px 0px #4474de,
               1px 6px 0px #4474de,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
  
  }
  h2{
      
      text-align: center;
      
      font-style: italic;
  }
  
  h3{
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      font-family: 'Roboto', sans-serif;
      color: #030869;
      text-transform: uppercase;
      
  
  
  
  }
  h4{
    text-align: left;
    font-size: 20px;
    font-weight: 120;
    font-family: 'Roboto', sans-serif;
    color: #030869;
    text-transform: uppercase;}
   
  
  
  .bgcolor{
      background-color: #c5dbfa;
  
  }
  
  p{
      font-size: 20px;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 1%;
      padding-bottom: 1%;
      text-align: justify;
  }
 
  hr {
      position: relative;
      top: 20px;
      border: none;
      height: 12px;
      background: black;
      margin-bottom: 50px;
  }
  footer{
    background: #2450ff;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;



}
.footer-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}
.footer-content h3{
   font-size:1.8rem;
   font-weight: 400;
   text-transform: capitalize;
   line-height: 3rem;
}
.footer-content p{
   max-width: 500px;
   margin: 10px auto;
   line-height: 28px;
   font-size: 14px;
}
.footer-bottom{
   background: darkblue;
   width: 100vw;
   padding: 20px 0;
   text-align: center;

}
.footer-bottom p{
   font-size: 14px;
   word-spacing: 2px;
   text-transform: capitalize;
   text-align: center;

}
.footer-bottom span{
   text-transform: uppercase;
   opacity: .4;
   font-weight: 200;

}
.paynow{
  text-align: center;
  border: 5px solid black;
  padding: 3%;

}
.mobnav{
  display: none;
}



@media screen and (max-width:1200px) {
    /*SMALL SCREEN*/
    header{
        height: 68vh;

    }
    .title{
        top: 40%;

    }
    .button{
        position: absolute;
        top: 50%;
        left:50%;                                                 /*This contains all the information about the nav bar (BUTTONS)*/
        transform: translate(-50%,-50%);
        color: #fff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .logo img{
        float: left;
        width: 200px;                        /*This contains all the information about the nav bar an image*/
        margin-top: -60px;
        margin-left: -35px;
    }
    .column{
        width: 87%;
        padding: auto;
        
    }
    .intro{
        font-size: 45px;
    }
    h3{
        font-size: 30px;
    }
    .top{
      left: 35%;
    }
    .button{
      display: none;
    }
    header ul {
      display: none;
    }
    .mobnav{
      display: block;
      text-align: center;
      background-color: #c5dbfa;
      color: white;
      padding: 3%;
      margin: 5%;
      
    }
    .mobnav ul{
      list-style: none;
    }
    .sec{
      top: 21%;
      left: 2%;
    }
  
    .products {
      display: grid;
      grid-template-columns: auto;
      grid-gap:  2px;
      width: 50px;
    }
  
    .products .card{
      width: 300px;
      height: 400px;
      left: 50%;
    }
  
    .products .card img{
      height: 150px;
      width: 100%;
    }
    .turtlecattitle{
      display: none;
    }
    .column{
      display: none;
    }
    .sec{
      position: relative;
    }

}